.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    }
.legend span{
    display: inline-block 
border-radius: 50%; / |* it has a curvature added so the border appears a little bit ciruclar shaped 
height: 8px;
margin-right: 7px; /* the position of the circles*/}
/* Now I want too add a color in each child of the legend*/
.legend div:nth-child(2)span{
    background-color: #FFCCCB;/* the background color for each figure*/
}

.legend div:nth-child(3)span {
    background-color: #CBC3E3;/* the background color for each figure*/
}
